.row{
    height: 100vh;
}
.navbar,.navbar-nav{
    height: 100%;
}
.navbar-item{
    margin-top: 5vh;
}
.btn-report-edit{
    margin-left: 25%;
    margin-right: 25%;
}
.btn-students-edit{
    margin-left: 25%;
    margin-right: 25%;
}
.btn-groups-edit{
    margin-left: 25%;
    margin-right: 25%;
}